@use 'mixin';
$textcolorm:black;

*{
    // margin:auto;
    box-sizing: border-box;
}
body{
    margin: 1px;
    color: $textcolorm;     
    padding: auto;
    align-content: center;
    display: grid;
}

.kotak{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: lightcyan;
    @include mixin.layout-direction(flex-end, left);
    a{
        display: block;
        text-align: left;
        background-color: red;
        text-decoration: none;
        color: $textcolorm;
        font-size: 2.5em;
        font-weight: 600;
    }
}