$textcolorm:black;

@mixin layout-direction($x:flex-start, $y:left){
    display: flex;
    justify-content: $y;
    // horizontal kiri kanan y  left/center/right
    align-items: $x; 
    //vertical atas bawah x flex-start/center/flex-end
}
*{
    
    box-sizing: border-box;
}
body{
    margin: 1px;
    color: $textcolorm;     
    padding: auto;
    align-content: center;
    display: grid;
}

.kotak{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: lightcyan;
    @include layout-direction(center,center);
    border-bottom: 2px solid salmon;
    box-shadow: 2px 2px 5px lightgrey;
    a{
        display: block;
        text-align: left;
        background-color: red;
        text-decoration: none;
        color: $textcolorm;
        font-size: 2.5em;
        font-weight: 600;
    }
}